
<div class="modal-content rounded-4 shadow create-form">
    <div class="modal-header p-5 pb-4 border-bottom-0">
      <h1 class="fw-bold mb-0 fs-2">Добавить товар</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeForm()"></button>
    </div>

    <div class="modal-body p-5 pt-0">

      <form [formGroup]="goods" (ngSubmit)="post()">

        <div class="form-floating mb-3">
          <input type="text" class="form-control rounded-3" id="name" placeholder="Яблоко" formControlName="name">
          <label for="placeholder">Название</label>
        </div>
        

        <div class="form-floating mb-3">
          <input type="number" class="form-control rounded-3" id="price" min="0" placeholder="100" formControlName="price">
          <label for="placeholder">Цена</label>
        </div>
        <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Сохранить</button>

      </form>
    </div>
  </div>