
<button class="btn btn-success rounded-pill px-3 button-add" type="button" (click)="callForm()">Добавить</button>

<div class="table-responsive">
    <table class="table table-striped table-sm table-border">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Имя</th>
          <th scope="col" class="th-td-near-buttons">Цена</th>
          <th class="th-bottons"></th>
          <th class="th-bottons"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let g of goodses;">
          <td>{{g.id}}</td>
          <td *ngIf="g.isCollapsedButton">{{g.name}}</td>
          <td *ngIf="!g.isCollapsedButton"><input type="text" [(ngModel)]="g.name"></td>

          <td *ngIf="g.isCollapsedButton">{{g.price}}</td>
          <td *ngIf="!g.isCollapsedButton"><input type="number" min="0" [(ngModel)]="g.price"></td>
          <td>
            <button class="btn btn-warning rounded-pill px-3" type="button" *ngIf="g.isCollapsedButton" (click)="toggleCollapse(g.id)">Изменить</button>
            <button class="btn btn-primary rounded-pill px-3" type="button" *ngIf="!g.isCollapsedButton" (click)="update(g.id)">Сохранить</button>
          </td>
          <td class="td-bottons">
            <button class="btn btn-danger rounded-pill px-3" type="button" (click)="deleteGoods(g.id)">X</button>
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>

  
  <app-create-form (buttonClick)="closeForm()" [isCreateForm]="isCreateForm" *ngIf="isCreateForm"></app-create-form>
  
