<div class="text-bg-dark">
<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item"><a routerLink="/orders" class="nav-link px-2 text-secondary" [routerLinkActive]="['text-white']">Журнал заказов</a></li>
      <li class="nav-item"><a routerLink="/goods"  class="nav-link px-2 text-secondary" [routerLinkActive]="['text-white']">Справочник товаров</a></li>
    </ul>
  </header>
</div>
</div>
<hr>
<router-outlet></router-outlet>